*, ::after, ::before {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: 0
}

input, pre *, textarea {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text
}

body {
	font-family: 'Jeju Gothic', 'Malgun Gothic';
	font-size: 1.5rem;
	color: #000;
	background-color: #403438;
	overflow: hidden
}

h1, h2, h3, h4, h5, h6 {
	font-family: Hanna
}

@media only screen and (min-width:768px) {
	body {
		perspective: 4000px
	}
	.btn, a {
		-webkit-transition: all .3s ease 0s;
		-moz-transition: all .3s ease 0s;
		transition: all .3s ease 0s
	}
}

a:focus, a:hover {
	text-decoration: none
}

i {
	margin-right: .8rem
}

#tistorytoolbarid {
	display: none
}

.ie-overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #FFF;
	visibility: visible;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	cursor: not-allowed;
	z-index: 9999
}

.blog-logo, .blog-open-nav {
	z-index: 3;
	border-radius: 5px;
	-webkit-backface-visibility: hidden
}

.ie-overlay .ie-overlay-message {
	position: relative;
	top: 20%;
	text-align: center;
	padding: 50px 100px
}

.ie-overlay .ie-overlay-message h2 {
	font-size: 4em;
	font-weight: 300;
	color: #000
}

.ie-overlay .ie-overlay-message h4 {
	font-size: 2em;
	font-weight: 300;
	color: #333
}

.blog-logo {
	display: block;
	position: absolute;
	top: 34px;
	left: 5%;
	bottom: auto;
	transform: translateY(-50%);
	background: rgba(255, 0, 29, .7);
	opacity: 1;
	padding: 3px 11px 1px;
	transition: top .5s ease, opacity .2s ease;
	backface-visibility: hidden
}

.blog-logo a {
	color: #fff;
	text-decoration: none
}

.blog-logo.is-hide {
	top: -100px
}

@media only screen and (min-width:768px) {
	.blog-logo {
		top: 60px
	}
	.blog-logo:hover {
		opacity: .9;
		cursor: pointer
	}
}

.blog-open-nav {
	position: absolute;
	top: 12px;
	right: 8%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 43px;
	height: 43px;
	font-size: 0;
	text-indent: -9999px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	border: none;
	cursor: pointer;
	transition: transform .2s, top .5s ease, background .2s ease;
	backface-visibility: hidden
}

.blog-open-nav.is-hide {
	top: -100px
}

.blog-open-nav:focus {
	outline: 0
}

.blog-open-nav span {
	display: block;
	position: absolute;
	top: 20px;
	left: 9px;
	right: 9px;
	height: 4px;
	background: #fff
}

.blog-open-nav span::after, .blog-open-nav span::before {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #fff;
	content: ""
}

.blog-open-nav span::before {
	top: -10px
}

.blog-open-nav span::after {
	bottom: -10px
}

.blog-open-nav-arrow {
	background-color: rgba(0, 0, 29, .6)
}

.blog-open-nav-arrow span {
	transition: transform .3s
}

.blog-open-nav-arrow span::before {
	transform-origin: top right;
	transition: transform .3s, width .3s, top .3s
}

.blog-open-nav-arrow span::after {
	transform-origin: bottom right;
	transition: transform .3s, width .3s, bottom .3s
}

@media only screen and (min-width:768px) {
	.blog-open-nav {
		top: 38px
	}
	.blog-open-nav-arrow:hover {
		background-color: rgba(0, 0, 29, .8)
	}
	.blog-open-nav-arrow:hover span {
		transform: rotate(180deg)
	}
	.blog-open-nav-arrow:hover span::after, .blog-open-nav-arrow:hover span::before
		{
		width: 70%
	}
	.blog-open-nav-arrow:hover span::before {
		top: 0;
		transform: translateX(10px) translateY(2px) rotate(45deg)
	}
	.blog-open-nav-arrow:hover span::after {
		bottom: 0;
		transform: translateX(10px) translateY(-2px) rotate(-45deg)
	}
}

nav {
	position: fixed;
	z-index: 4;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background-color: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform: translate3d(100%, 0, 0);
	transition: transform .4s ease 0s
}

nav.is-visible {
	transform: translate3d(0, 0, 0)
}

nav .blog-nav-header {
	position: relative;
	height: 80px
}

nav .blog-nav-header .blog-nav-search {
	position: absolute;
	width: 70%;
	height: 44px;
	left: 3%;
	top: 16px
}

nav .blog-nav-header .blog-nav-search .input-group-addon {
	background-color: inherit;
	border: none;
	border-radius: 0;
	font-size: 1.8em
}

nav .blog-nav-header .blog-nav-search .form-control {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
	box-shadow: none;
	padding: 10px 5px
}

nav .blog-nav-header .blog-close-nav {
	position: absolute;
	height: 44px;
	width: 44px;
	right: 5%;
	top: 38px;
	bottom: auto;
	transform: translateY(-50%);
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	transition: opacity .2s;
	cursor: pointer
}

nav .blog-nav-header .blog-close-nav::after, nav .blog-nav-header .blog-close-nav::before
	{
	content: '';
	position: absolute;
	height: 4px;
	width: 32px;
	left: 50%;
	top: 50%;
	background-color: #5c4b51;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.blog-overlay, article {
	-webkit-backface-visibility: hidden
}

nav .blog-nav-header .blog-close-nav::after {
	transform: translateX(-50%) translateY(-50%) rotate(45deg)
}

nav .blog-nav-header .blog-close-nav::before {
	transform: translateX(-50%) translateY(-50%) rotate(-45deg)
}

nav .blog-nav-content {
	padding: 10% 10% 30%
}

nav .blog-nav-content .nav-component-wrapper {
	margin-top: 7rem
}

nav .blog-nav-content .nav-component-wrapper:first-child {
	margin-top: 0
}

nav .blog-nav-content .nav-component-wrapper .nav-component-category,
	nav .blog-nav-content .nav-component-wrapper .nav-component-etc, nav .blog-nav-content .nav-component-wrapper .nav-component-list
	{
	margin-top: 2rem
}

nav .blog-nav-content .nav-component-wrapper .nav-component-category ul
	{
	list-style: none;
	margin-left: 1rem;
	opacity: .6
}

nav .blog-nav-content .nav-component-wrapper .nav-component-category ul:first-child
	{
	margin-left: 0;
	opacity: 1
}

nav .blog-nav-content .nav-component-wrapper .nav-component-category li a
	{
	color: #333;
	text-decoration: none;
	line-height: 200%
}

nav .blog-nav-content .nav-component-wrapper .nav-component-category li a:hover
	{
	color: #337ab7
}

nav .blog-nav-content .nav-component-wrapper .nav-component-category li .c_cnt
	{
	color: #aaa;
	font-size: .8rem
}

nav .blog-nav-content .nav-component-wrapper .nav-component-list .nav-component-list-item
	{
	font-size: 1.5rem;
	line-height: 250%;
	transition: all .2s ease 0s
}

nav .blog-nav-content .nav-component-wrapper .nav-component-list .nav-component-list-item a
	{
	color: #888;
	text-decoration: none
}

nav .blog-nav-content .nav-component-wrapper .nav-component-list .nav-component-list-item a:hover
	{
	color: #337ab7
}

nav .blog-nav-content .nav-component-wrapper .nav-component-tag {
	margin-top: 2rem;
	text-transform: uppercase;
	line-height: 4rem;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto
}

nav .blog-nav-content .nav-component-wrapper .nav-component-tag span {
	display: inline-block;
	padding: 0 .5rem
}

nav .blog-nav-content .nav-component-wrapper .nav-component-tag span:first-child
	{
	padding-left: 0
}

nav .blog-nav-content .nav-component-wrapper .nav-component-tag span:last-child
	{
	padding-right: 0
}

nav .blog-nav-content .nav-component-wrapper .nav-component-tag span.cloud1
	{
	font-size: 3.5rem
}

nav .blog-nav-content .nav-component-wrapper .nav-component-tag span.cloud2
	{
	font-size: 3rem
}

nav .blog-nav-content .nav-component-wrapper .nav-component-tag span.cloud3
	{
	font-size: 2.5rem
}

nav .blog-nav-content .nav-component-wrapper .nav-component-tag span.cloud4
	{
	font-size: 2rem
}

nav .blog-nav-content .nav-component-wrapper .nav-component-tag span.cloud5
	{
	font-size: 1.5rem
}

@media only screen and (min-width:768px) {
	nav {
		width: 550px;
		transition: transform .4s ease 0s, box-shadow .4s ease 0s
	}
	nav.is-visible {
		transform: translate3d(0, 0, 0);
		box-shadow: -20px 0 40px rgba(0, 0, 0, .6)
	}
	nav .blog-nav-header .blog-nav-search {
		left: 5%;
		top: 26px
	}
	nav .blog-nav-header .blog-close-nav {
		top: 50px
	}
	nav .blog-nav-header .blog-close-nav:hover {
		opacity: .7
	}
	nav .blog-nav-content .nav-component-wrapper .nav-component-category li a:hover,
		nav .blog-nav-content .nav-component-wrapper .nav-component-list .nav-component-list-item:hover
		{
		padding-left: .5rem
	}
	.blog-overlay {
		transition: opacity .4s
	}
}

.blog-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	background-color: rgba(0, 0, 0, .5);
	visibility: hidden;
	opacity: 0;
	backface-visibility: hidden
}

.blog-overlay.is-visible {
	opacity: 1;
	visibility: visible;
	z-index: 2
}

article {
	position: relative;
	height: 100vh;
	overflow-x: hidden;
	backface-visibility: hidden;
	transition: transform 1s ease
}

article .blog-post {
	position: relative;
	z-index: 1;
	top: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

article.scale-down .blog-post {
	overflow-y: hidden
}

article .blog-post .blog-post-header-wrapper {
	height: 100vh;
	background: url(images/background.png) #565;
	position: relative
}

article .blog-post .blog-post-header-wrapper .blog-post-header {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	text-align: center
}

article .blog-post .blog-post-header-wrapper .blog-post-header img {
	width: 8rem;
	margin: 0 0 2em
}

article .blog-post .blog-post-header-wrapper .blog-post-header h2 {
	font-size: 4.5rem;
	text-shadow: 0 1px 2px #000;
	margin: 0 .8em;
	word-break: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto
}

article .blog-post .blog-post-header-wrapper .blog-post-header span {
	display: inline-block;
	margin: 2em;
	padding: 10px 30px;
	background: rgba(0, 0, 0, .3);
	border-radius: 10px
}

article .blog-post .blog-post-header-wrapper .blog-post-header span strong
	{
	display: block
}

article .blog-post .blog-post-header-wrapper .blog-post-header span strong a
	{
	color: #fff;
	text-decoration: none
}

article .blog-post .blog-post-header-wrapper .blog-post-header span strong a:hover
	{
	color: #337ab7
}

article .blog-post .blog-post-content-wrapper {
	background-color: #fff;
	padding: 4em 0;
	min-height: 100vh;
	font-size: 1.6rem;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto
}

article .blog-post .blog-post-content-wrapper .blog-post-admin {
	width: 90%;
	max-width: 800px;
	margin: 1em auto 5em;
	border-bottom: 1px dashed #ccc
}

article .blog-post .blog-post-content-wrapper .blog-post-admin div:first-child
	{
	padding: 0 0 1em
}

article .blog-post .blog-post-content-wrapper .blog-post-admin div:last-child
	{
	padding: 0 0 3em
}

article .blog-post .blog-post-content-wrapper .blog-post-content {
	width: 90%;
	max-width: 800px;
	margin: 2em auto;
	line-height: 180%;
}

article .blog-post .blog-post-content-wrapper .blog-post-content img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

article .blog-post .blog-post-content-wrapper .blog-post-content .cap1 {
	font-size: 1.6rem;
	margin: 0 auto;
	color: #999
}

article .blog-post .blog-post-content-wrapper .blog-post-content pre {
	background-color: rgb(35, 36, 31);
	font-size: 1.5rem;
	padding: 2.5em;
	border: none;
	border-radius: .8em
}

article .blog-post .blog-post-content-wrapper .blog-post-content pre * {
	font-family: 'Jeju Gothic', 'Malgun Gothic';
}

article .blog-post .blog-post-content-wrapper .blog-post-content blockquote
	{
	font-size: inherit
}

article .blog-post .blog-post-content-wrapper .blog-post-content hr {
	margin: 50px auto;
	max-width: 30%;
	border: 0;
	border-top: 1px solid #999
}

article .blog-post .blog-post-content-wrapper .blog-post-related {
	width: 90%;
	max-width: 800px;
	margin: 5em auto 0
}

article .blog-post .blog-post-content-wrapper .blog-post-related .blog-post-related-list
	{
	list-style: none;
	display: block;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden
}

article .blog-post .blog-post-content-wrapper .blog-post-related .blog-post-related-list .blog-post-related-list-item
	{
	display: inline-block;
	white-space: normal;
	width: 182px;
	margin-right: 20px;
	margin-bottom: 20px;
	vertical-align: top
}

article .blog-post .blog-post-content-wrapper .blog-post-related .blog-post-related-list .blog-post-related-list-item.text_type::before
	{
	width: 200px;
	height: 140px;
	display: block;
	padding: 20px;
	content: '';
	text-overflow: ellipsis;
	border-radius: 5px;
	font-size: 2rem;
	color: #fff;
	overflow: hidden;
	background: repeating-linear-gradient(-30deg, #ccc, #ccc 2px, #bbb 2px, #bbb 4px)
}

article .blog-post .blog-post-content-wrapper .blog-post-related .blog-post-related-list .blog-post-related-list-item-thumb
	{
	height: 140px;
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid #bbb
}

article .blog-post .blog-post-content-wrapper .blog-post-related .blog-post-related-list .blog-post-related-list-item-thumb img
	{
	width: 300px
}

article .blog-post .blog-post-content-wrapper .blog-post-related .blog-post-related-list .blog-post-related-list-item-title
	{
	font-size: 1.5rem;
	padding: 10px 10px 0
}

article .blog-post .blog-post-content-wrapper .blog-post-tags {
	width: 90%;
	max-width: 800px;
	margin: 2em auto;
	text-transform: uppercase
}

article .blog-post .blog-post-content-wrapper .blog-post-comments {
	width: 90%;
	max-width: 800px;
	margin: 6em auto 2em;
	font-size: 1.6rem
}

article .blog-post .blog-post-content-wrapper .blog-post-comments .blog-post-comment-entry
	{
	margin: 1em 0 2em
}

article .blog-post .blog-post-content-wrapper .blog-post-comments .blog-post-comment-entry .comment-input
	{
	border-radius: 3px;
	border: none;
	background: #EEE;
	padding: .3em .5em;
	margin: 0 0 1em
}

article .blog-post .blog-post-content-wrapper .blog-post-comments .blog-post-comment-entry .comment-textarea
	{
	width: 100%;
	border-radius: 5px;
	border: none;
	background: #EEE;
	padding: 1em
}

article .blog-post .blog-post-content-wrapper .blog-post-comments .blog-post-comment
	{
	margin-top: 10px;
	position: relative;
	padding: 30px 0 5px 65px;
	border-top: 1px dashed #ccc
}

article .blog-post .blog-post-content-wrapper .blog-post-comments .blog-post-comment .blog-post-comment-icon
	{
	width: 48px;
	height: 48px;
	position: absolute;
	top: 25px;
	left: 0
}

article .blog-post .blog-post-content-wrapper .blog-post-comments .blog-post-comment .blog-post-comment-head
	{
	margin: 10px 0 5px;
	width: 100%;
	clear: both;
	font-weight: 700
}

article .blog-post .blog-post-content-wrapper .blog-post-comments .blog-post-comment .blog-post-comment-head .tistoryProfileLayerTrigger
	{
	display: none
}

article .blog-post .blog-post-content-wrapper .blog-post-comments .blog-post-comment .blog-post-comment-text
	{
	line-height: 180%;
	font-size: 1.6rem;
	color: #5c5c5c
}

article .blog-post .blog-post-content-wrapper .blog-post-list {
	width: 90%;
	max-width: 800px;
	margin: 4em auto;
	line-height: 200%
}

article .blog-post .blog-post-content-wrapper .blog-post-list ul {
	list-style: none
}

article .blog-post .blog-post-content-wrapper .blog-post-list ul li {
	margin: 0 1em 5em
}

article .blog-post>div:not([class]) {
	background-color: #fff;
	padding: 4em 0;
	height: 100vh
}

article .blog-post>div:not([class]) .absent_post {
	position: relative;
	top: 45%;
	transform: translateY(-50%)
}

article .blog-post .blog-post-pagination-wrapper {
	background-color: #fff;
	padding: 2em 0 4em
}

article .blog-post .blog-post-pagination-wrapper .blog-post-pages {
	width: 90%;
	max-width: 800px;
	margin: 1em auto;
	text-align: center
}

article .blog-post .blog-post-pagination-wrapper .blog-post-pages .interword
	{
	float: left
}

article .blog-post .blog-post-pagination-wrapper .blog-post-pages a:not([href])
	{
	cursor: not-allowed;
	opacity: .5
}

article .blog-post .blog-post-pagination-wrapper .blog-post-pages .pagination li *
	{
	border: none
}

article .blog-post .blog-post-footer-wrapper {
	height: 30vh;
	min-height: 200px;
	background: url(images/background.png) #454;
	position: relative
}

article .blog-post .blog-post-footer-wrapper .blog-post-footer {
	position: relative;
	top: 45%;
	transform: translateY(-50%);
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	text-align: center
}

article .blog-post .blog-post-footer-wrapper .blog-post-footer h4 {
	color: #fff;
	text-shadow: 0 1px 2px #000
}

article .blog-post .blog-post-footer-wrapper .blog-post-footer h3,
	article .blog-post .blog-post-footer-wrapper .blog-post-footer h4 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px
}

article .blog-post .blog-post-footer-wrapper .blog-post-footer .btn-xs {
	padding: 3px 5px 0
}

@media only screen and (min-width:768px) {
	article.scale-down {
		box-shadow: 0 0 40px 5px rgba(0, 0, 0, .8);
		transform: scale(.7) rotateY(-40deg) translateX(-600px)
	}
	article .blog-post .blog-post-header-wrapper .blog-post-header img {
		width: 10rem
	}
	article .blog-post .blog-post-header-wrapper .blog-post-header h2 {
		font-size: 8rem;
		font-weight: 300;
		margin: auto 15vw
	}
	article .blog-post .blog-post-header-wrapper .blog-post-header span {
		margin: 3em;
		border-radius: 15px
	}
	article .blog-post .blog-post-header-wrapper .blog-post-header span strong
		{
		display: inline-block;
		margin-right: 20px
	}
	article .blog-post .blog-post-header-wrapper .blog-post-header span strong:last-child
		{
		margin-right: 0
	}
	article .blog-post .blog-post-content-wrapper .blog-post-admin div:first-child
		{
		display: inline-block;
		padding: 0 1em 3em 0
	}
	article .blog-post .blog-post-content-wrapper .blog-post-admin div:last-child
		{
		display: inline-block;
		padding: 0 0 3em
	}
	article .blog-post .blog-post-content-wrapper .blog-post-related .blog-post-related-list
		{
		white-space: nowrap;
		overflow-x: inherit;
		overflow-y: inherit
	}
	article .blog-post .blog-post-content-wrapper .blog-post-related .blog-post-related-list .blog-post-related-list-item .blog-post-related-list-item-thumb
		{
		opacity: 1;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transition: opacity .4s
	}
	article .blog-post .blog-post-content-wrapper .blog-post-related .blog-post-related-list .blog-post-related-list-item:hover .blog-post-related-list-item-thumb
		{
		opacity: .6
	}
	article .blog-post .blog-post-content-wrapper .blog-post-list ul li {
		transition: padding .3s ease 0s
	}
	article .blog-post .blog-post-content-wrapper .blog-post-list ul li:hover
		{
		padding-left: .5rem
	}
}

.hljs {
	white-space: pre;
	max-width: 850px;
	overflow: auto !important; /* scroll setting */
}
